$desktop: 1024px;
$tablet: 991px;
$tablet-small: 767px;
$smartphone: 647px;
$smartphone-small: 430px;
$smartphone-smallest: 375px;

$blue-lighten: #42a5f5;
$white: #fff;
$light-teal-lighten: #76ff03;
$black: #000;
$orange: #f57c00;
$orange-lighten: #ffa726;
$teal-lighten: #26a69a;
$green-lighten: #2bbbad;
$grey-lighten: #e0e0e0;
$dark-grey: #5a5a5a;
